<div align="center" class="col-xs-12" data-ng-if="CharactersCtrl.isImage">
    <img data-ng-click="CharactersCtrl.playSound()" height="200px"
         ng-src="{{CharactersCtrl.folder+'/'+CharactersCtrl.selectedGame.character}}"
         alt="Image"/>
</div>
<div align="center" data-ng-if="!CharactersCtrl.isImage" data-ng-click="CharactersCtrl.playSound()">
    <div
            ng-class="CharactersCtrl.selectedGame.class"
            ng-style="{ background : CharactersCtrl.selectedGame.class ? CharactersCtrl.selectedGame.colorName : ''}"
            class="col-xs-12"
            data-ng-if="CharactersCtrl.selectedGame.class">
    </div>
    <div data-ng-if="!CharactersCtrl.selectedGame.class">
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-play-circle"></span>
            &nbsp;REPLAY
        </button>

    </div>
</div>

<div class="col-sm-4" data-ng-repeat="game in CharactersCtrl.games" style="margin-top:5px">
    <button class="btn btn-xl" data-ng-click="CharactersCtrl.select(game)"
            style="background-color:{{game.colorName}}; color:white; width:100%; height:100%">
        <b>
            {{game.name}}
        </b>
    </button>
</div>