<div class="col-xs-3" data-ng-repeat="color in MemoryCtrl.memory track by $index">
    <img data-ng-if="!color.showed" height="150px"
         ng-src="{{MemoryCtrl.categories[MemoryCtrl.charactersType].gameImg}}"
         alt="Image" data-ng-click="MemoryCtrl.selectMemory($index)"/>
    <div data-ng-if="color.showed">
        <img data-ng-if="MemoryCtrl.isImage" height="150px"
             ng-src="{{MemoryCtrl.folder+color.character}}"
             alt="Image" data-ng-click="MemoryCtrl.selectMemory($index)"/>
        <div ng-class="color.class"
             ng-style="{background : color.colorName}"
             data-ng-if="!MemoryCtrl.isImage">
        </div>
    </div>
</div>
